body{
    background-image: url("https://m.media-amazon.com/images/I/71a37QykgSL._SL1280_.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 23px;
    font-family: 'Satisfy', cursive;
}
#btn1{
    background-color: pink;
    color: black;
    border: 4px black solid;
    border-radius: 5px;
    font-size: 15px;
    

}